* {
    border: 1px solid black;
}

.stop {
    background-color: blue;
}

.stop ul li {
    background-color: red;
}

.stop ul ul li {
    background-color: green;
}

h1.busnum  {
    background-color:orange;
}

div.busdest  {
    background-color:pink;
}
