* {
    border: 1px solid black;
    border-radius: 20px;
    padding: 2px;
    font-family: Impact, Charcoal, sans-serif;
}
li {
    list-style-type:none;
}

.stop {
    background-color: blue;
}

.stop ul li {
    background-color: red;
}

.stop ul ul li {
    background-color: green;
}

/*#run ul ul, #run ul ul * {
    display:inline;
}*/

#run {
    display:none;
}

input {
    width: 60px;
}

.stop {
    display:inline-block;
}


h1.busnum  {
    background-color:orange;
    display:inline-block;
    width:48%;
    text-align: center;
    font-size: 40px;
    margin:0px;
}

div.busdest  {
    display:inline-block;
    background-color:pink;
    width:48%;
    text-align: center;
}

.bus ul li {
    display:inline-block;
}

li.buspred {
    width:50%;
    font-size: 25px;
    text-align: center;
}

.bus {
}
