* {
    border-radius: 20px;
    padding: 2px;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
}

li {
    list-style-type:none;
}

.bus {
    border: 1px solid black;
}

input {
    width: 60px;
}

.stop {
    display:inline-block;
}


h1.busnum  {
    display:inline-block;
    width:100px;
    text-align: center;
    font-size: 40px;
    margin:0px;
    background-color:yellow;
}

div.busdest  {
    display:inline-block;
    text-align: left;
    font-size:25px;
    padding-left:3%;
}

.bus ul li {
    display:inline-block;
}

li.buspred {
    width:175px;
    font-size: 25px;
    text-align: center;
}

.stop {
    width:100%;
    height:100%;
    display:inline-block;
}

.stoptitle {
    font-size: 35px;
    margin:0px;
    display:inline;
    padding-right:250px;
}

p {
    font-size:10px;
    margin:0px;
}

.clock {
    position:absolute;
    top:20px;
    right:20px;
    font-size:30px;
}

ul {
    margin:0px;
}